<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
        </div>
        <h1>{{msg}}</h1>
        <div class="jumbotron">

            <div id="about" class="row">
                <div class="col" id="aboutImage">
                    <img src="https://avatars2.githubusercontent.com/u/40834043?s=460&v=4">
                </div>
                <div class="col-sm">
                    <p>In 2018 Garrett Blythe finally finished what began 14 years earlier.
                        Pivoted back into technology.</p>
                    <hr>
                    <p>Invigorated and driven. Taking his real world leadership and entrepreneurial skills into
                        software development.</p>
                    <hr>
                    <p id="bottom">Versed in Javascript, jQuery, Node, Express, MongoDB, C#, SQL, HTML, and CSS.</p>
                </div>
            </div>
        </div>
    </div>
</div>