<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h1>Garrett Blythe</h1>
            </div>
            <div class="row">
                <div class="col-sm" id="aboutImage">
                    <img src="https://avatars2.githubusercontent.com/u/40834043?s=460&v=4">
                </div>
                <div class="col" id="about">
                    <p>Driven web developer</p>
                </div>
            </div>
        </div>
    </div>
</div>