<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
      </div>
      <div class="jumbotron">
        <h1>{{msg}}</h1>
        <h2>Take a moment to check out my code.</h2>
        <br>
        <p>I am always looking for new projects and collaborators.</p>

        <p>I hope you and enojoy this photo of a pug.</p>
        <img id="pug" src="https://gjblythe.github.io/assets/images/charles-deluvio-547196-unsplash.jpg">
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>